version: 2
updates:
  - package-ecosystem: "composer"
    directory: "/"
    target-branch: "main"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 10
  - package-ecosystem: "composer"
    directory: "/"
    target-branch: "2.x"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 10
    labels:
      - "dependencies"
      - "php"
      - "2.x only"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    cooldown:
      default-days: 5
    labels:
      - "dependencies"
      - "github_actions"
      - "ci"