name: Prepare for minor release
run-name: Update az-quickstart-scaffolding repository for new `${{ github.event.client_payload.release_branch_name }}` minor release branch (from ${{ github.event.client_payload.source_branch_name }}).
on:
  repository_dispatch:
    types: az_quickstart_prep_for_minor_release

jobs:
  prepare_for_new_minor_release:
    runs-on: ubuntu-latest
    steps:
      - name: Setup PHP with composer v2
        uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # 2.35.5
        with:
          php-version: '8.3'
          tools: composer:v2

      - name: Checkout az-quickstart-scaffolding
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: ${{ github.event.client_payload.source_branch_name }}

      - name: Set up git
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com

      - name: Create new release branch and push it back to the repo.
        run: |
          git checkout -b ${{ github.event.client_payload.release_branch_name }}
          git push -u origin ${{ github.event.client_payload.release_branch_name }}

      - name: Update quickstart_branch.sh in release branch
        run: |
          NEW_VERSION=${{ github.event.client_payload.release_branch_name }}
          sed -i "s/BRANCH=main/BRANCH=$NEW_VERSION/g" quickstart_branch.sh

      - name: Update Lando config in release branch
        run: |
          NEW_VERSION=${{ github.event.client_payload.release_branch_name }}
          sed -i "s/PROFILE_BRANCH=main/PROFILE_BRANCH=$NEW_VERSION/g" .lando.yml
          sed -i "s/default: main/default: $NEW_VERSION/g" .lando.yml

      - name: Update Probo config in release branch
        run: |
          NEW_VERSION=${{ github.event.client_payload.release_branch_name }}
          sed -i "s/PROFILE_BRANCH=main/PROFILE_BRANCH=$NEW_VERSION/g" .probo.yaml

      - name: Push required changes to new branch so we can make a pull request
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          title: Prepare repository for new minor release branch ${{ inputs.release_branch_name }}
          commit-message: Prepare repository for new minor release branch ${{ inputs.release_branch_name }}
          branch: prepare-${{ github.event.client_payload.release_branch_name }}-for-minor-release
          base: ${{ github.event.client_payload.release_branch_name }}
          delete-branch: true
          token: ${{ secrets.REPO_DISPATCH_TOKEN }}
          add-paths: |
            quickstart_branch.sh
            .lando.yml
            .probo.yaml

      - name: Checkout az-quickstart-scaffolding
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: ${{ github.event.client_payload.source_branch_name }}

      - name: Update the az-digital/az_quickstart composer.json requirement on ${{ github.event.client_payload.source_branch_name }} branch
        run: |
          composer require az-digital/az_quickstart ${{ github.event.client_payload.next_release_branch_alias_constraint }} --no-update --no-scripts --no-interaction

      - name: Push required changes to new branch so we can make a pull request
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          title: Prepare repository for new minor release branch ${{ inputs.release_branch_name }}
          commit-message: Prepare repository for new minor release branch ${{ inputs.release_branch_name }}
          branch: prepare-${{ github.event.client_payload.source_branch_name }}-for-${{ github.event.client_payload.release_branch_name }}
          base: ${{ github.event.client_payload.source_branch_name }}
          delete-branch: true
          token: ${{ secrets.REPO_DISPATCH_TOKEN }}
          add-paths: |
            composer.json
